<section class='Recipes' id='Recipes'>
    <div class='container'>
        <div class='row'>
            <div class='top'>
                <h2 class='heading'>Simple and tasty recipes</h2>
                <p class='paregraph'>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
            </div>
            <div class='bottom'>
                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-snack.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    
                    <div class='content'>
                        <h3 class='card-heading'>Big and Juicy Wagyu Beef Cheeseburger</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Snack</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-fish.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>                                
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Fresh Lime Roasted Salmon with Ginger Sauce</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Fish</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-breakfast.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Strawberry Oatmeal Pancake with Honey Syrup</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Breakfast</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-healthy.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Fresh and Healthy Mixed Mayonnaise Salad</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Healthy</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-meet.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Chicken Meatballs with Cream Cheese</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Meat</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='bg bg-none'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-Ads.png" class='recipy-img' alt="snack_img" />
                    </div>
                </div>

                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-sweet.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Fruity Pancake with Orange & Blueberry</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Sweet</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-rice.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>The Best Easy One Pot Chicken and Rice</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Snack</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='bg'>
                    <div class='img'>
                        <img src="../../../assets/images/recipes-noodles.png" class='recipy-img' alt="snack_img" />
                        <div class='circle'></div>
                        <div class='heart'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>The Creamiest Creamy Chicken and Bacon Pasta</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Noodles</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
