<section class="kitchen" id="Blog">
    <div class="container">
        <div class="row">
            <div class="content">
                <h2 class="heading">Everyone can be achef in their own kitchen</h2>
                <p class="paregraph">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
                <a href="#" class="btn">Learn More</a>
            </div>
            <div class="background">
                <img src="../../../assets/images/kitchen.png" alt="kitchen_image">
            </div>
        </div>
    </div>
</section>