<section class='categories'>
    <div class='container'>
        <div class='row'>
            <div class='top'>
                <h2 class='heading'>Categories</h2>
                <a href="#" class='button'>View All Categories</a>
            </div>
            <div class='bottom'>
                <div class='box Breakfast'>
                    <div class='images'>
                        <img src="../../../assets/images/First.png" alt="first_image">
                    </div>
                    <div class='text'>
                        <p class='pare'>Breakfast</p>
                    </div>
                </div>

                <div class='box Vegan'>
                    <div class='images'>
                        <img src="../../../assets/images/Second.png" alt="second_image">
                    </div>
                    <div class='text'>
                        <p class='pare'>Vegan</p>
                    </div>
                </div>

                <div class='box Meat'>
                    <div class='images'>
                        <img src="../../../assets/images/Third.png" alt="third_image">
                    </div>
                    <div class='text'>
                        <p class='pare'>Meat</p>
                    </div>
                </div>

                <div class='box Dessert'>
                    <div class='images'>
                        <img src="../../../assets/images/Four.png" alt="four_image">
                    </div>
                    <div class='text'>
                        <p class='pare'>Dessert</p>
                    </div>
                </div>

                <div class='box Lunch'>
                    <div class='images'>
                        <img src="../../../assets/images/Five.png" alt="five_image">
                    </div>
                    <div class='text'>
                        <p class='pare'>Lunch</p>
                    </div>
                </div>

                <div class='box Chocolate'>
                    <div class='images'>
                        <img src="../../../assets/images/Six.png" alt="six_image">
                    </div>
                    <div class='text'>
                        <p class='pare'>Chocolate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>