
<nav class='Navbar'>
    <header>
        <div class='container'>
            <div class='header-part'>
                <h1 class='logo'>Foodieland<span>.</span></h1>
                <ul class='nav-item'>
                    <li class='nav-list'><a href="#home" class='nav-link'>Home</a></li>
                    <li class='nav-list'><a href="#Recipes" class='nav-link'>Recipes</a></li>
                    <li class='nav-list'><a href="#Blog" class='nav-link'>Blog</a></li>
                    <li class='nav-list'><a href="#contact" class='nav-link'>Contact</a></li>
                    <li class='nav-list'><a href="#aboutus" class='nav-link'>About us</a></li>
                </ul>

                <div class='nav-icon'>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </header>
</nav>