<div class="single-item">
    <section class="hero">
        <div class="container">

          
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>          
              <div class="slider">
              <div class="left">
                <div class="wrapper mt">
                  <div class="white">
                    <span>
                      <img src="../../../assets/images/hero-btn.png" alt="hero-btn" />
                    </span>
                    <span class="btn-text">Hot Recipes</span>
                  </div>
                </div>
                <div class="content">
                  <h2 class="hero-title">Spicy delicious chicken wings</h2>
                  <p class="hero-pera">
                    Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqut enim ad minim
                  </p>
        
                  <div class="wrapper">
                    <div class="stat">
                      <span>
                        <img src="../../../assets/images/Timer.png" alt="timer_image" />
                      </span>
                      <span class="text">30 minutes</span>
                    </div>
                    <div class="stat">
                      <span>
                        <img
                          src="../../../assets/images/ForkKnife.png"
                          alt="ForkKnife_images"
                        />
                      </span>
                      <span class="text">Chicken</span>
                    </div>
                  </div>
                </div>
                <div class="account">
                  <div class="ac-left">
                    <div class="ac-dp">
                      <img
                        src="../../../assets/images/hero-profile.png"
                        alt="hero-profile_image"
                      />
                    </div>
                    <div class="account-deatils">
                      <p class="account-name">John Smith</p>
                      <p class="account-date">15 March 2022</p>
                    </div>
                  </div>
                  <div class="ac-right">
                    <div class="wrapper">
                      <div class="white black">
                        
                        <span class="btn-text text-white">View Recipes</span>
                        <span>
                          <img
                            src="../../../assets/images/PlayCircle.png"
                            alt="playcircle_image"/>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right">
                <img src="../../../assets/images/herobg.png" alt="hero-bg_image"  class="own"/>
              </div>
              <div class="handpicked-image">
                <img src="../../../assets/images/Badge.png" alt="Badge_image" />
              </div>
            </div></ng-template>  
            <ng-template carouselSlide>
              <div class="slider">
                <div class="left">
                  <div class="wrapper mt">
                    <div class="white">
                      <span>
                        <img src="../../../assets/images/hero-btn.png" alt="hero-btn" />
                      </span>
                      <span class="btn-text">Hot Recipes</span>
                    </div>
                  </div>
                  <div class="content">
                    <h2 class="hero-title">Spicy delicious chicken wings</h2>
                    <p class="hero-pera">
                      Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqut enim ad minim
                    </p>
          
                    <div class="wrapper">
                      <div class="stat">
                        <span>
                          <img src="../../../assets/images/Timer.png" alt="timer_image" />
                        </span>
                        <span class="text">30 minutes</span>
                      </div>
                      <div class="stat">
                        <span>
                          <img
                            src="../../../assets/images/ForkKnife.png"
                            alt="ForkKnife_images"
                          />
                        </span>
                        <span class="text">Chicken</span>
                      </div>
                    </div>
                  </div>
                  <div class="account">
                    <div class="ac-left">
                      <div class="ac-dp">
                        <img
                          src="../../../assets/images/hero-profile.png"
                          alt="hero-profile_image"
                        />
                      </div>
                      <div class="account-deatils">
                        <p class="account-name">John Smith</p>
                        <p class="account-date">15 March 2022</p>
                      </div>
                    </div>
                    <div class="ac-right">
                      <div class="wrapper">
                        <div class="white black">
                         
                          <span class="btn-text text-white">View Recipes</span>
                          <span>
                            <img
                              src="../../../assets/images/PlayCircle.png"
                              alt="playcircle_image"/>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <img src="../../../assets/images/herobg.png" alt="hero-bg_image"  class="own"/>
                </div>
                <div class="handpicked-image">
                  <img src="../../../assets/images/Badge.png" alt="Badge_image" />
                </div>
              </div>
            </ng-template>  
            <ng-template carouselSlide> 
              <div class="slider">
                <div class="left">
                  <div class="wrapper mt">
                    <div class="white">
                      <span>
                        <img src="../../../assets/images/hero-btn.png" alt="hero-btn" />
                      </span>
                      <span class="btn-text">Hot Recipes</span>
                    </div>
                  </div>
                  <div class="content">
                    <h2 class="hero-title">Spicy delicious chicken wings</h2>
                    <p class="hero-pera">
                      Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqut enim ad minim
                    </p>
          
                    <div class="wrapper">
                      <div class="stat">
                        <span>
                          <img src="../../../assets/images/Timer.png" alt="timer_image" />
                        </span>
                        <span class="text">30 minutes</span>
                      </div>
                      <div class="stat">
                        <span>
                          <img
                            src="../../../assets/images/ForkKnife.png"
                            alt="ForkKnife_images"
                          />
                        </span>
                        <span class="text">Chicken</span>
                      </div>
                    </div>
                  </div>
                  <div class="account">
                    <div class="ac-left">
                      <div class="ac-dp">
                        <img
                          src="../../../assets/images/hero-profile.png"
                          alt="hero-profile_image"
                        />
                      </div>
                      <div class="account-deatils">
                        <p class="account-name">John Smith</p>
                        <p class="account-date">15 March 2022</p>
                      </div>
                    </div>
                    <div class="ac-right">
                      <div class="wrapper">
                        <div class="white black">
                          
                          <span class="btn-text text-white">View Recipes</span>
                          <span>
                            <img
                              src="../../../assets/images/PlayCircle.png"
                              alt="playcircle_image"/>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  <img src="../../../assets/images/herobg.png" alt="hero-bg_image"  class="own"/>
                </div>
                <div class="handpicked-image">
                  <img src="../../../assets/images/Badge.png" alt="Badge_image" />
                </div>
              </div>
    
            </ng-template>  
          </owl-carousel-o>

        </div>
      </section>
</div>

