<section class="diffRecipes">
    <div class="container">
        <div class="row">
            <div class="diff-top">
                <h2 class="diff-title">Try this delicious recipeto make your day</h2>
                <p class="diff-sub-title">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
            </div>
            <div class="diff-bottom">

                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/diffone.png" class='diff-img' alt="Healthy_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Mixed Tropical Fruit Salad with Superfood Boosts</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Healthy</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/difftwo.png" class='diff-img' alt="Western_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Big and Juicy Wagyu Beef Cheeseburger</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Western</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/diffthree.png" class='diff-img' alt="Healthy_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Healthy Japanese Fried Rice with Asparagus</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Healthy</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/difffour.png" class='diff-img' alt="Eastern_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Cauliflower Walnut Vegetarian Taco Meat</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Eastern</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/difffive.png" class='diff-img' alt="Healthy_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Rainbow Chicken Salad with Almond Honey Mustard Dressing</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Healthy</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/diffsix.png" class='diff-img' alt="Snack_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Barbeque Spicy Sandwiches with Chips </h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Snack</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/diffseven.png" class='diff-img' alt="Seafood_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Firecracker Vegan Lettuce Wraps - Spicy!</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Seafood</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class='diff-main'>
                    <div class='img'>
                        <img src="../../../assets/images/diffeight.png" class='diff-img' alt="Japanese_img" />
                        <div class='circleicon'></div>
                        <div class='hearticon'>
                            <i class="likes fa-solid fa-heart"></i>
                        </div>
                    </div>
                    <div class='content'>
                        <h3 class='card-heading'>Chicken Ramen Soup with Mushroom</h3>
                        <div class="wrapper space">
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/Timer.png" alt="timer_img" />
                                </span>
                                <span class="text">30 minutes</span>
                            </div>
                            <div class="stat none">
                                <span>
                                    <img src="../../../assets/images/ForkKnife.png" alt="forknife_img" />
                                </span>
                                <span class="text">Japanese</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>