<section class="footer" id="aboutus">
    <div class="container">
        <div class="ft">
            <div class="ft-top">
                <div class="ft-left">
                    <h2 class="ft-logo">Foodieland<span>.</span></h2>
                    <p class="ft-paregraph">Lorem ipsum dolor sit amet, consectetuipisicing elit, </p>
                </div>
                <div class="ft-right">
                    <ul>
                        <li><a href="#Recipes" class="ft-link">Recipes</a></li>
                        <li><a href="#Blog" class="ft-link">Blog</a></li>
                        <li><a href="#contact" class="ft-link">Contact</a></li>
                        <li><a href="#aboutus" class="ft-link">About us</a></li>
                    </ul>
                </div>
            </div>
            <div class="ft-bottom">
                <div class="copyright">
                    <a href="#" class="foot">© 2020 Flowbase. Powered by <span>Webflow</span></a>
                </div>
                <div class='ft-icon'>
                    <a href="https://www.facebook.com/" target="_blank" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="_blank" class="icon"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" class="icon"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>