<section class="instagram" id="contact">
    <div class="container">
        <div class="row">
            <div class="insta-top">
                <h2 class="insta-title">Check out @foodieland on Instagram</h2>
                <p class="paregraph">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
            </div>
            <div class="insta-center">
                <div class="insta-post">
                    <img src="../../../assets/images/Postone.png" alt="insta-post_img" />
                </div>
                <div class="insta-post">
                    <img src="../../../assets/images/Postsecond.png" alt="insta-post_img" />
                </div>
                <div class="insta-post">
                    <img src="../../../assets/images/Postthird.png" alt="insta-post_img" />
                </div>
                <div class="insta-post">
                    <img src="../../../assets/images/Postfourth.png" alt="insta-post_fourth" />
                </div>
            </div>
               <div class="btn ">
                   <a href="https://www.instagram.com/" target="_blank" class="btn-link">Visit Our Instagram <i class="fa-brands fa-instagram"></i></a>
                   
               </div>
            </div>
        </div>
</section>
