<section class="subscribe">
    <div class="container">
        <div class="background">
            <div class="kisssalad-image">
                <img src="../../../assets/images/kisssalad.png" alt="kisssalad_images" />
            </div>
            <div class="content">
                <h2 class="heading">Deliciousness to your inbox</h2>
                <p class="partegraph">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
                <form action="/action_page.php">
                    <input type="email" id="email" name="email" placeholder="Your email address..."/>
                    <a href="mailto: abc@example.com" target="_blank">Subscribe</a>
                </form>
            </div>
        </div>
    </div>
</section>